        <div class="container">
            <h1>Alta de Categorías</h1>   
        
<form class="form-categoria" method="POST" action="../../class/autoload.php">
    
        <div class="form-categoria__grupo">
            <label for="id_categoria" class="form-categoria__label">ID Categoría</label>
            <input type="number" id="id_categoria" name="id_categoria" class="form-categoria__input" disabled placeholder="Autogenerado"/>
        </div>

        <div class="form-categoria__grupo">
            <label for="categoria_nombre" class="form-categoria__label">Nombre de la Categoría</label>
            <input type="text" id="categoria_nombre" name="nombre" class="form-categoria__input" required>
            <input type="hidden" name="action" value="altaCategoria">
        </div>

        <div class="form-categoria__botones">
            <button type="reset" class="form-categoria__boton form-categoria__boton--cancelar">Cancelar</button>
            <button type="submit" class="form-categoria__boton form-categoria__boton--guardar">Guardar</button>
        </div>
        
        <div class="form-categoria__autor">Desarrollado por Graciela M. Richetta</div>
    </form>
        </div> 
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="../../assets/js/validaciones.js"></script>
