<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Listado de Categorías</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    </head>
    <body class="bg-light">
        <h2>Categorias
        <div class="container mt-5">
            <h1 class="text-center mb-4">Listado de Categorías</h1> 
            
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody id="categorias-lista">
                    <!-- aqui se cargan dinamicamente las categorias -->
                
                </tbody>
            </table>
            
            <div class="text-center mt-4">
                <a href="categorias.html" class="btn btn-primary">Agregar Categorías</a> 
            </div>               
        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
            $(document).ready(function() {
                $.ajax({
                    url:'../../class/autoload.php',
                    method:'POST',
                    data: {action: 'listarCategorias'},
                    success: function (response){
                        $('#categorias-lista').html(response);
                    }
                });
            });
        </script>
    </body>
</html>
