<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>MI PROYECTO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css"/>
        <link rel="icon" href="../../assets/img/favicon_1.png" type="image/x-icon">
    </head>
          
    <body>
        
        <h1></h1>
        <nav>
        <a href="/MIPROYECTO/backend/views/productos.html">Ir al formulario de productos</a> <br> <br> 
        <a href="/MIPROYECTO/backend/views/categorias.html">Ir al formulario de categorias</a>
        </nav>
        <div></div>
        
    </body>
</html>
